.displaybase {
  /* background: #000428;  
  background: -webkit-linear-gradient(to top, #004e92, #000428); 
  background: linear-gradient(to top, #004e92, #000428);  */
  height: 100vh;
}
#terminal-content {
  width: 95%;
  color: greenyellow;
  padding-top: 8%;
  font-family: monospace;
}
#terminal-content * {
  z-index: 1;
}
#terminal-background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
#terminal-content table {
  margin-top: 1em;
  margin-bottom: 1em;
  color: greenyellow;
}
#terminal-content .table-responsive {
  height: 490px;
}
#terminal-content table tr,
#terminal-content table th,
#terminal-content table td {
  border: 2px dashed greenyellow;
}
.terminal-form-input {
  background: transparent;
  border-radius: 0;
  border-style: none;
  color: greenyellow;
}
.terminal-form-input:active,
.terminal-form-input:focus,
.terminal-form-input:hover {
  background: transparent;
  caret-color: greenyellow;
  color: greenyellow;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
#terminal-nudge {
  font-size: xx-large;
  font-weight: 900;
}
#terminal-nudge:hover {
  cursor: pointer;
}
#terminal-search {
  background: transparent;
  color: greenyellow;
  border: 1px dashed;
}
