.navHome {
  background-color: #000d4e;
  opacity: 0.9;
  box-shadow: 0 0 20px 0px #16161757;
  width: 100%;
  font-family: system-ui;
  font-weight: 500;
}
.navHome a {
  padding: 1%;
}
.navHome p {
  display: contents;
  color: white;
}
#hamburgur-icon {
  height: 1rem;
}
