@font-face {
  font-family: 'Barmeno';
  src: local('Barmeno'), url(../fonts/Barmeno_Regular.ttf) format('truetype');
}
#logo {
  width: 55%;
  height: auto;
}
#down_arrow {
  width: 3%;
  height: auto;
}
#wallpaper-arrow-area:hover {
  cursor: pointer;
}
#wallpapercomp {
  /* background: #7e33ef; */
  height: 100vh;
  background-size: cover;
}
#wallpaper-logo-area {
  height: 70%;
}
#wallpaper-logo-area div {
  padding-top: 10%;
}
#wallpapercomp h1 {
  font-family: Barmeno;
  color: #0784fa;
  font-size: 7rem;
}
#wallpaper-logo-area h3 {
  color: white;
  font-family: system-ui;
  text-shadow: 4px 4px 2px #31045a;
}
.animated {
  /* background-image: url(/css/images/logo.png); */
  background-repeat: no-repeat;
  background-position: left top;
  animation: fadeOutDown 5s infinite;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}
.true {
  font-size: larger;
}
